[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
atomicwrites = {version = "*",sys_platform = "== 'win32'"}
django = "*"
flake8 = "*"
mysqlclient = {version = "*",sys_platform = "!= 'darwin'"}
psycopg2-binary = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-env = "*"
pytest-xdist = {extras = ["psutil"], version = "*"}

[dev-packages]
django-debug-toolbar = "*"
django-extensions = "*"
notebook = "*"
pytest-watch = "*"

[scripts]
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
notebook = "python manage.py shell_plus --notebook"
serve = "python manage.py runserver"
shell = "python manage.py shell_plus"
test = "pytest --numprocesses auto"
test-watch = "ptw"
